<div class="page">

  <div class="page-header">
    <div>
      <h1>Cours</h1>
      <p>{{ cours.length }} cours enregistrés</p>
    </div>
    <div class="actions">
      <select (change)="onSemestreChange($event)">
        <option value="">Tous les semestres</option>
        <option value="S1">Semestre 1</option>
        <option value="S2">Semestre 2</option>
      </select>
      <button
        class="btn-primary"
        *ngIf="auth.hasMinRole('RESP_UP')"
        (click)="showForm = !showForm">
        {{ showForm ? 'Annuler' : '+ Nouveau cours' }}
      </button>
    </div>
  </div>

  <!-- Formulaire création -->
  <div class="form-card" *ngIf="showForm">
    <h3>Créer un cours</h3>
    <form [formGroup]="form" (ngSubmit)="onCreate()">
      <div class="form-grid">
        <div class="field">
          <label>Intitulé *</label>
          <input formControlName="intitule" placeholder="Algorithmique avancée" />
        </div>
        <div class="field">
          <label>Code *</label>
          <input formControlName="code" placeholder="INFO-401" />
        </div>
        <div class="field">
          <label>ID Enseignant *</label>
          <input formControlName="enseignant_id" placeholder="UUID enseignant" />
        </div>
        <div class="field">
          <label>ID Unité Pédagogique *</label>
          <input formControlName="up_id" placeholder="UUID UP" />
        </div>
        <div class="field">
          <label>Volume horaire * <span class="hint">(max 300h/an)</span></label>
          <input type="number" formControlName="volume_h" min="1" max="300" />
        </div>
        <div class="field">
          <label>Crédits *</label>
          <input type="number" formControlName="credits" min="1" />
        </div>
        <div class="field">
          <label>Semestre *</label>
          <select formControlName="semestre">
            <option value="S1">Semestre 1</option>
            <option value="S2">Semestre 2</option>
          </select>
        </div>
      </div>

      <div class="error-banner"   *ngIf="errorMsg">{{ errorMsg }}</div>
      <div class="success-banner" *ngIf="successMsg">{{ successMsg }}</div>

      <div class="form-actions">
        <button type="button" class="btn-secondary" (click)="showForm = false">
          Annuler
        </button>
        <button type="submit" class="btn-primary" [disabled]="form.invalid || loading">
          {{ loading ? 'Création...' : 'Créer le cours' }}
        </button>
      </div>
    </form>
  </div>

  <!-- Table -->
  <div class="table-card">
    <div class="loading" *ngIf="loading && cours.length === 0">Chargement...</div>
    <table *ngIf="!loading || cours.length > 0">
      <thead>
        <tr>
          <th>Intitulé</th>
          <th>Code</th>
          <th>Enseignant</th>
          <th>Unité Pédagogique</th>
          <th>Volume</th>
          <th>Crédits</th>
          <th>Semestre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of cours">
          <td><strong>{{ c.intitule }}</strong></td>
          <td><span class="badge-code">{{ c.code }}</span></td>
          <td>{{ c.enseignant.prenom }} {{ c.enseignant.nom }}</td>
          <td>{{ c.unite_pedagogique.nom }}</td>
          <td><span class="vol">{{ c.volume_h }}h</span></td>
          <td>{{ c.credits }}</td>
          <td><span class="badge-sem">{{ c.semestre }}</span></td>
        </tr>
      </tbody>
    </table>
    <p class="empty" *ngIf="!loading && cours.length === 0">
      Aucun cours trouvé
    </p>
  </div>

</div>
